@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url(./header.css);
@import url(./home_page.css);
@import url(./feature.css);
@import url(./products1.css);
@import url(./banners.css);
@import url(./newsletter.css);
@import url(./footer.css);
@import url(./shop-page.css);
@import url(./sproduct.css);
@import url(./blog.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  outline: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transition: 0.2s;
}

body {
  width: 100%;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }
}